{% extends "admin_panel_base.html" %}

{% block admin_content %}
    <div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}<br>
            {{ form.certs.label }}<br>
            {{ form.certs }}
            {{ form.submit }}<br>
        </form>
        <br>
        username: {{ user.username }}<br>
        name: {{ user.full_name() }}<br>
        balance: {{ user.balance() }}<br>
        <a href="{{ url_for("user_page", username=user.username) }}">user page</a>
    </div>
{% endblock %}