{% import 'macro.html' as macro %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{% block title %}{% endblock %}</title>

	<link rel="icon" href="{{ url_for('static', filename='img/core-img/favicon.ico') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/core-style.css') }}">

	{% block head %}{% endblock %}
</head>

<body>
	<!-- ##### Main Content Wrapper Start ##### -->
	<div class="main-content-wrapper d-flex">

		<!-- Mobile Nav (max width 767px)-->
		<div class="mobile-nav">
			<!-- Navbar Brand -->
			<div class="amado-navbar-brand">
				<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/core-img/logo.png') }}" alt=""></a>
			</div>
			<!-- Navbar Toggler -->
			<div class="amado-navbar-toggler">
				<span></span><span></span><span></span>
			</div>
		</div>

		<!-- Header Area Start -->
		<header class="header-area">
			<!-- Close Icon -->
			<div class="nav-close">
				<i class="fa fa-close" aria-hidden="true"></i>
			</div>
			<!-- Logo -->
			<div class="logo mb-70">
				<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/core-img/logo.png') }}" alt=""></a>
			</div>
			<!-- Amado Nav -->
			<nav class="amado-nav">
				<ul>
					<li {% if active == 'main' %} class="active" {% endif %}>
						<a href="{{ url_for('index') }}">Главная</a>
					</li>
					{% if current_user.is_authenticated %}
					{% if current_user.id == 1 %}
					<li {% if active == 'profile' %} class="active" {% endif %}>
						<a href="{{ url_for('admin_panel') }}">Панель управления</a>
					</li>
					{% else %}
					<li {% if active == 'profile' %} class="active" {% endif %}>
						<a href="{{ url_for('user_page', username=current_user.username) }}">Личный кабинет</a>
					</li>
					{% endif %}
					<li>
						<a href="{{ url_for('logout') }}">Выйти</a>
					</li>
					{% else %}
					<li {% if active == 'register' %} class="active" {% endif %}>
						<a href="{{ url_for('register') }}">Регистрация</a>
					</li>
					<li {% if active == 'login' %} class="active" {% endif %}>
						<a href="{{ url_for('login') }}">Войти</a>
					</li>
					{% endif %}
				</ul>
			</nav>
			{% if current_user.is_authenticated %}
			<div style="height: 70px;"></div>
			<div class="amado-btn-group mt-30 mb-100">
				{% if current_user.id != 1 %}
				<a href="#" class="btn amado-btn mb-15">Баланс: {{ current_user.balance() }}</a>
				{% endif %}
			</div>
			{% endif %}
			<!-- <div class="cart-fav-search mb-70">
				<a href="cart.html" class="cart-nav"><img src="{{ url_for('static', filename='img/core-img/cart.png') }}" alt=""> Cart <span>(0)</span></a>
				<a href="#" class="fav-nav"><img src="{{ url_for('static', filename='img/core-img/favorites.png') }}" alt=""> Favourite</a>
				<a href="#" class="search-nav"><img src="{{ url_for('static', filename='img/core-img/search.png') }}" alt=""> Search</a>
			</div>
			<div class="social-info d-flex justify-content-between">
				<a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div> -->
		</header>
		<!-- Header Area End -->

		{% block content %}{% endblock %}
	</div>
	<!-- ##### Main Content Wrapper End ##### -->

	<!-- ##### Footer Area Start ##### -->
	<footer class="footer_area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-4">
					<div class="single_widget_area">
						<div class="footer-logo" style="margin-right: 100px;">
							<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/core-img/logo2.png') }}" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="single_widget_area">
						<div class="footer_menu">
							<nav class="navbar navbar-expand-lg justify-content-end">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
								<div class="collapse navbar-collapse" id="footerNavContent">
									<ul class="navbar-nav ml-auto">
										<li class="nav-item {% if active == 'main' %} class="active" {% endif %}">
											<a class="nav-link" href="{{ url_for('index') }}">Главная</a>
										</li>
										{% if current_user.is_authenticated %}
										<li class="nav-item {% if active == 'profile' %} class="active" {% endif %}">
											<a class="nav-link" href="{{ url_for('user_page', username=current_user.username) }}">Личный кабинет</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
										</li>
										{% else %}
										<li class="nav-item {% if active == 'register' %} class="active" {% endif %}">
											<a class="nav-link" href="{{ url_for('register') }}">Регистрация</a>
										</li>
										<li class="nav-item {% if active == 'login' %} class="active" {% endif %}">
											<a class="nav-link" href="{{ url_for('login') }}">Войти</a>
										</li>
										{% endif %}
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ##### Footer Area End ##### -->
</body>


<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/active.js') }}"></script>

{% block scripts %}{% endblock %}

</html>
