{% extends "sidebar.html"  %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

	{{ super() }}

	<div class="cart-table-area section-padding-100">
		<div class="container-fluid checkout_details_area">
			<form class="row" action="{{ url_for('event_add') }}" method="post" enctype="multipart/form-data" novalidate>
				<div class="col-12 col-lg-8">
					<div class="mt-50">
						<div class="cart-title">
							<h2>Редактирование события</h2>
						</div>
						{% with messages = get_flashed_messages() %}
						{% for message in messages %}
						<p>{{ message }}</p>
						{% endfor %}
						{% endwith %}
						<div>
							{{ form.hidden_tag() }}
							<div class="row">
								<div class="col-12 mb-3">
									{{ form.title(size=32, class='form-control', placeholder='Заголовок') }}
									{% for error in form.title.errors %}
									<span style="color: red;">{{ error }}</span>
									{% endfor %}
								</div>
								<div class="col-md-6 mb-3">
									{{ form.time_start(size=32, type='datetime-local', class='form-control', placeholder='Время начала') }}
									{% for error in form.time_start.errors %}
									<span style="color: red;">{{ error }}</span>
									{% endfor %}
								</div>
								<div class="col-md-6 mb-3">
									{{ form.time_end(size=32, type='datetime-local', class='form-control', placeholder='Время завершения') }}
									{% for error in form.time_end.errors %}
									<span style="color: red;">{{ error }}</span>
									{% endfor %}
								</div>
								<div class="col-12 mb-3">
									{{ form.price(size=32, class='form-control', placeholder='Стоимость') }}
									{% for error in form.price.errors %}
									<span style="color: red;">{{ error }}</span>
									{% endfor %}
								</div>
								<div class="col-12 mb-3">
									{{ form.about(class='form-control w-100', rows='10', cols='30', placeholder='Расскажите о событии') }}
								</div>
							</div>
							{{ form.submit(class='btn amado-btn w-100') }}
						</div>
					</div>
				</div>
	            <!-- <div class="col-12 col-lg-4">
					<img class="profile-pic mt-50" src="{{ current_user.profile_pic_url() }}" alt="">
					{{ form.profile_picture }}
	            </div> -->
			</form>
		</div>
	</div>
{% endblock %}
