{% import 'macro.html' as macro %}

{% extends 'sidebar.html' %}

{% block title %}Расписание{% endblock %}

{% block content %}

{{ super() }}

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="cart-title mt-50">
					<h2>Расписание</h2>
                </div>
                <div class="cart-table">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Наименование</th>
                                <th>Стоимость</th>
                                <th>Длительность</th>
								<th></th>
                            </tr>
                        </thead>
                        <tbody>
							{% for event in events %}
								{{ macro.card_event(user, event) }}
							{% endfor %}
                        </tbody>
                    </table>
					{% if not events %}
					<p>Упс! Похоже здесь нет событий!</p>
					{% endif %}
					<a href="{{ url_for('event_add') }}"><button class="btn amado-btn w-100" name="button">Создать</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
