{% macro card_man(user) %}
    <div class="card-man">
        <a href="{{ url_for('user_page', username=user.username) }}">
            <img src="{{ user.profile_pic_url() }}" alt="">
            <div class="hover-content">
                <div class="line"></div>
				<div class="bg">
	                <p>{{ user.job }}</p>
	                <h4>{{ user.full_name() }}</h4>
				</div>
            </div>
			<div class="description-content">
				<p>{{ user.about }}</p>
			</div>
        </a>
    </div>
{% endmacro %}

{% macro card_event(current_user, event) %}
	<tr>
		<td>
			<p>{{ event.about }}</p>
		</td>
		<td class="cart_product_desc">
			<h5>{{ event.title }}</h5>
		</td>
		<td class="price">
			<span>{{ event.price }} certs</span>
		</td>
		<td>
			<span>{{ event.time_start }} -<br>{{ event.time_end }}</span>
		</td>
		<td>
			{% if event.buyer %}
			<a class="btn amado-btn active" style="color: #fff;">Куплено</a>
			{% elif event.seller == current_user %}
			<a class="btn amado-btn" href="{{ url_for('event_edit', event_id=event.id) }}">Редактировать</a>
			{% else %}
			<a class="btn amado-btn" href="{{ url_for('event_buy', event_id=event.id) }}">Купить</a>
			{% endif %}
		</td>
	</tr>
{% endmacro %}

{% macro card_transaction(current_user, transaction) %}
	{% set is_seller = current_user.id == transaction._from_id %}

	<tr {% if is_seller %}style='background-color: #ecedf3;'{% endif %}>
		<td>
			<span>{{ transaction.amount() }}</span>
		</td>
		<td>
			<span>{{ transaction.time_created }}</span>
		</td>
		<td>
			{% if is_seller %}
			<img src="{{ url_for('static', filename='img/core-img/arrowRight.png') }}" style="background-color: transparent; width: 80px; height: 80px;">
			{% else %}
			<img src="{{ url_for('static', filename='img/core-img/arrowLeft.png') }}" style="background-color: transparent; width: 80px; height: 80px;">
			{% endif %}
		</td>
		<td>
			<span>{{ transaction.time_edited }}</span>
		</td>
		<td>
			<!-- TODO user pic -->
			{% if is_seller %}
			<span>{{ transaction._to_id }}</span>
			{% else %}
			<span>{{ transaction._from_id }}</span>
			{% endif %}
		</td>
	</tr>
{% endmacro %}
