{% macro card_man(user) %}
    <div class="card-man">
        <a href="{{ url_for('user_page', username=user.username) }}">
            <img src="{{ user.profile_pic_url() }}" alt="">
            <div class="hover-content">
                <div class="line"></div>
				<div class="bg">
	                <p>{{ user.job }}</p>
	                <h4>{{ user.full_name() }}</h4>
				</div>
            </div>
			<div class="description-content">
				<p>{{ user.about }}</p>
			</div>
        </a>
    </div>
{% endmacro %}

{% macro card_event(event) %}
	<tr>
		<td class="cart_product_img">
			<a href="#"><img src="{{ event.pic_url() }}"></a>
		</td>
		<td class="cart_product_desc">
			<h5>{{ event.title }}</h5>
		</td>
		<td class="price">
			<span>{{ event.price }} certs</span>
		</td>
		<!-- TODO add time column -->
		<td></td>
	</tr>
{% endmacro %}
