{% extends 'sidebar.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

{{ super() }}

<div class="single-product-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-7">
				<img class="profile-pic" src="{{ user.profile_pic_url() }}" alt="">
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <div class="product-meta-data">
						<a>
                        	<h6>{{ user.full_name() }}</h6>
						</a>
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
							<!-- TODO Чата не будет -->
                            <!-- <div class="review">
                                <a href="#">Перейти к общению</a>
                            </div> -->
                        </div>
                        <p class="avaibility"><i class="fa fa-circle"></i> В сети</p>
                    </div>

                    <div class="short_overview my-5">
                        <a><h6>О себе:</h6></a>
						<p>{{ user.about }}</p>
                    </div>

                    <div class="cart">
						<!-- TODO edit button -->
                        <button type="submit" name="addtocart" class="btn amado-btn">Редактировать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
