{% extends "base.html" %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<div class="cart-table-area section-padding-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="checkout_details_area mt-50">

          <div class="cart-title">
            <h2>Регистрация</h2>
          </div>
          {% with messages = get_flashed_messages() %}
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
          {% endwith %}
          <form action="{{ url_for('register') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
              <div class="col-12 mb-3">
                {{ form.username(size=32, class='form-control', placeholder='Username') }}
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="col-md-6 mb-3">
                {{ form.first_name(size=32, class='form-control', placeholder='First Name') }}
                {% for error in form.first_name.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="col-md-6 mb-3">
                {{ form.last_name(size=32, class='form-control', placeholder='Last Name') }}
                {% for error in form.last_name.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="col-12 mb-3">
                {{ form.password1(size=32, class='form-control', placeholder='Password') }}
                {% for error in form.password1.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="col-12 mb-3">
                {{ form.password2(size=32, class='form-control', placeholder='Repeat password') }}
                {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="col-12 mb-3">
                {{ form.email(size=32, class='form-control', placeholder='Email') }}
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>
              <!-- TODO Криво делается niceSelect -->
              <!-- <div class="col-12 mb-3">
								<select class="w-100" id="town">
									<option disabled value="Город"></option>
									<option value="msk">Москва</option>
									<option value="spb">Санкт-Петербург</option>
									<option value="skvkr">Сыктывкар</option>
								</select>
							</div> -->
              <!-- <div class="col-12 mb-3">
								<textarea name="comment" class="form-control w-100" id="comment" cols="30" rows="10" placeholder="Leave a comment about your order"></textarea>
							</div> -->

							<div class="col-12">
								<div class="custom-control custom-checkbox d-block mb-2">
									<input type="checkbox" class="custom-control-input" id="customCheck2" checked>
									<label class="custom-control-label" for="customCheck2">Запомнить меня</label>
								</div>
							</div>
						</div>
						{{ form.submit(class='btn amado-btn w-100') }}
					</form>
				</div>
			</div>
			<!-- <div class="col-12 col-lg-4">
				<div class="cart-summary">
					<h5>Стартовый взнос</h5>
					<ul class="summary-table">
						<li><span>Подытог:</span> <span>$300.00</span></li>
						<li><span>Налог:</span> <span>$0.00</span></li>
						<li><span>Итог:</span> <span>$300.00</span></li>
					</ul>

					<div class="payment-method">
						<div class="custom-control custom-checkbox mr-sm-2">
							<input type="checkbox" class="custom-control-input" id="sberbank" checked>
							<label class="custom-control-label" for="paypal">Sberbank <img class="ml-15" src="img/core-img/paypal.png" alt=""></label>
						</div>
						<div class="custom-control custom-checkbox mr-sm-2">
							<input type="checkbox" class="custom-control-input" id="paypal">
							<label class="custom-control-label" for="paypal">Paypal <img class="ml-15" src="img/core-img/paypal.png" alt=""></label>
						</div>
						<div class="custom-control custom-checkbox mr-sm-2">
							<input type="checkbox" class="custom-control-input" id="bankname">
							<label class="custom-control-label" for="paypal">[BankName] <img class="ml-15" src="img/core-img/paypal.png" alt=""></label>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
{% endblock %}
